{% load static %}
<!DOCTYPE html>
<html>
   <head>
      <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

      <!-- Favicon -->
         <link rel="icon" type="image/png" href="{% static 'announcement/img/laptop.png' %}" sizes="32x32"/>
   
      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.1/dist/semantic.min.css">
      <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.8.1/dist/semantic.min.js"></script>
      <title>Ansattz's Store</title>
   </head>
   <body>
      <div class="ui inverted menu">
         <div class="ui container">
            <a href="{% url 'home' %}" class="active grey item">Ansattz Announcements</a>
            <div class="right menu">
                  <div class="ui right aligned category search item">
                     <div class="ui inverted input">
                        <input class="prompt" type="text" placeholder="Search here">
                     </div>
                     <div class="results"></div>
                  </div>
               </div>
            </div>
         </div>
      <div class="ui hidden divider"></div>
         <div class="ui container">
            <div class="ui stackable grid">
               <div class="four wide column">
                  <div class="ui vertical fluid menu">
                     {% for type in  types %}
                     <a href="{% url 'type' type.id %}" class="item">
                        {{ type }}
                     </a>
                     {% endfor %}
                  </div>
               </div>
               <div class="twelve wide column">
                  {% if type %}
                     <h1 class="ui header"> {{type}}</h1>
                  {% endif %}
                  {% block content %}
                  {% endblock %}
               </div>
            </div>
         </div>
   </body>
   
</html>

