{% extends 'base.html' %}
{% block content %}

<div class="ui three column stackable grid">
   {% for announcement in announcements %} 
   <div class="column">
      <div class="ui fluid card">         
         <div class="image">
            {% load static %}
            <img src="{% static 'announcement/img/online-shopping.png' %}">
         </div>         
         <div class="content">
            <a class="header">{{announcement}}</a>
         </div>
         <div class="extra content">
            R$ {{announcement.price}}
         </div>
      </div>      
   </div>
   {% empty %}
   <p>This section is empty.</p>
   {% endfor %}
</div>
{% endblock %}